@font-face {
    font-family: "Stam";
    src: url(../fonts/StamAshkenazCLM-Medium.otf);
}

@font-face {
    font-family: "David";
    src: url(../fonts/DavidLibre-Medium.ttf);
}

@font-face {
    font-family: "Frank-Ruhl";
    src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}

#textContainer {
    grid-column: 5 / 6;
    overflow-y: auto;
    grid-row: 2 / 4;
    scrollbar-width: none;
    position: relative;
}

#innerTextContainer {
    white-space: pre-wrap;
    text-align: justify;
    direction: rtl;
    overflow-y: visible;
    /* font-size: 3.5vw; */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fdfbf7;
    text-align-last: justify;
    display: flex;
    flex-direction: column;
}

#innerTextContainer h2 {
    margin: 0;
    text-align: right;
    width: fit-content;
}

.navButton {
    text-align-last: center;
    width: fit-content;
    align-self: center;
    background-color: #fdfbf7;
}

.navButton:hover {
    background-color: beige;
}

@media screen and (max-width: 500px) {
    #textContainer {
        grid-column: 3 / 8;
    }

    /*  #innerTextContainer {
        font-size: 4vh;
    } */
}